/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2017, 4:42:52 PM
    Author     : jessie
*/

/*.navbar-header{
    background-color: #6495ed;
}
.container-fluid{
    background-color: #6495ed;
}

.nav{
    background-color: #6495ed;
}*/

*:focus {
    outline: 0 !important;
}

.body{
    font-size: 16px;
}

.navbar-default{
    background-image:linear-gradient(to bottom, #6495ed 5%, #6495ed 100%);
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
    background-image: -webkit-linear-gradient(top, #6495ed 0%, #6495ed 90%);
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #6495ed;
    color: #fff;
}

.navbar-brand{
    font-size: 34px;
}


/*.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #f2f2f2;
}

.dropdown-menu{
    background-color: #6495ed;
}

.dropdown-header{
    font-weight: bold;
    color: #f2f2f2;
}*/

/*.navbar {display: none;}*/
.btn > .caret,.dropup > .btn > .caret {
    border-top-color: #fff !important;
}
.label {
    border: 1px solid #000;
}


.ui-widget {
    font-size: 15px;
}

.label{
    padding-top: 10px;
    padding-bottom: 5px;
}

div.hidden{
    display: none;
}

table, th {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 15px;
}

legend{
    width: initial;
}

/*.ui-widget-content{
    border: 0px solid;
}*/


/*<hr id="j_idt87:j_idt100" class="ui-separator ui-state-default ui-corner-all">*/





