/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2017, 4:42:52 PM
    Author     : jessie
*/

/*.navbar-header{
    background-color: #6495ed;
}
.container-fluid{
    background-color: #6495ed;
}

.nav{
    background-color: #6495ed;
}*/

.five-percent {
     width: 5%;
}

.eighty-percent {
     width: 75%;
}

.twenty-percent {
     width: 20%;
}

.top-alignment {
     vertical-align: top;
}

.togglegrid{
    margin-top: 20px; 
    margin-bottom: 20px; 
    width:100%; 
    table-layout:fixed; 
    word-wrap:break-word;
}




/*@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);*/

/* button 外框灰線 */ 
*:focus {
    outline: 0 !important;
}

html{
    
    font-family: 'PT Sans', sans-serif , 'Noto Sans TC', sans-serif;
}

.body{
    font-size: 17px;
}

h1{
    font-size: 34px;
}

h2{
    font-size: 17px;
    font-weight: bold;
}

.returnlink{
    text-align: right;
}

img {
     height: auto;
     max-width: 100%;
}

/*//Media Query ，也就是當寬度 < 768 px 時將載入下面這段 CSS :
 @media only screen and (max-width: 768px) {
     //CSS的內容

 }

// Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
 @media only screen and (max-width: 480px) {
     //CSS的內容
     ....
}*/

/*Media Query ，也就是當寬度 < 320 px 時將載入下面這段 CSS :*/
 @media only screen and (max-width: 320px) {
     
}



i {
     height: auto;
     max-width: 100%;
}

.navbar-default{
    background-image:linear-gradient(to bottom, #6495ed 5%, #6495ed 100%);
}

.navbar-default .navbar-brand{
    color: #fff;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
}

/*.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{
    background-image: -webkit-linear-gradient(top, #6495ed 0%, #6495ed 90%);
}

*/
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #6495ed;
    color: #fff;
}

.navbar-brand{
    font-size: 34px;
}

p {
    margin: 0 0 0.5em;
}

.btn {
    /*padding: 5px 12px;*/
    font-size: 16px;
}

/*.navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #f2f2f2;
}

.dropdown-menu{
    background-color: #6495ed;
}

.dropdown-header{
    font-weight: bold;
    color: #f2f2f2;
}*/

/*.navbar {display: none;}*/
/*.btn > .caret,.dropup > .btn > .caret {
    border-top-color: #fff !important;
}*/


/* link button style*/
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border: 1px solid #a6c9e2;
	color: #0099cc;
}

/*upload file button style*/
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    border: 1px solid #1f89ce;
    color: #fff;
    /*background: #2399e5;*/
    background-image: linear-gradient(to bottom, #2196F3 0%, #0b76cc 100%);
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}

.ui-widget {
    font-size: 17px;
}

/*.label{
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid #000;
}*/


/*fieldset title style*/
legend{
    width: initial;
}

.alert {
    border: none;
    color: inherit; 
}

/*.ui-widget-content{
    border: 0px solid;
}*/







